# Compiled class files
# Ignores compiled Java bytecode files. These are generated during compilation and should not be versioned.
*.class

# Log files
# Ignores log files which often contain runtime information and can be large.
*.log

# BlueJ files
# Ignores files specific to the BlueJ IDE, commonly used in educational settings.
*.ctxt

# Mobile Tools for Java (J2ME)
# Ignores temporary files created by J2ME development tools.
.mtj.tmp/

# Package Files
# Ignores various types of Java archive files (JAR, WAR, etc.). These are usually build outputs and should be generated, not versioned.
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Virtual machine crash logs
# Ignores JVM crash logs, which are generated when the JVM terminates abnormally.
hs_err_pid*
replay_pid*

# Eclipse
# Ignores Eclipse-specific project files and settings.
.classpath
.project
.settings/

# IntelliJ IDEA
# Ignores IntelliJ IDEA-specific project files and directories.
.idea/
*.iml
*.iws

# NetBeans
# Ignores NetBeans-specific project files and build outputs.
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code
# Ignores Visual Studio Code settings directory.
.vscode/

# Maven
# Ignores Maven build directory and various Maven-specific files.
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Gradle
# Ignores Gradle-specific directories and files, including build outputs.
.gradle/
**/build/
!src/**/build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

# OS-specific files
# Ignores files generated by Mac OS, Windows, and Linux operating systems.
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
*~

# Temp files
# Ignores various types of temporary files that might be created during development.
*.tmp
*.bak
*.swp